.header {
  width: 100%;
  padding: 28px 30px 20px 0;
  display: flex;
  align-items: center;
}

.header__logout-button {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: auto;
  outline: none;
  border: 2px solid transparent;
  background-color: transparent;
  font-size: 20px;
  color: var(--color-blue);
  cursor: pointer;
  transition: .3s ease;
}

.header__logout-button:hover {
  color: var(--color-blue-dark);
}

.header__logout-button-text {
  margin-right: 20px;
}

.header__logout-button-icon {
  stroke: var(--color-blue);
  transition: .3s ease;
}

.header__logout-button:hover .header__logout-button-icon {
  stroke: var(--color-blue-dark);
}

@media (max-width: 576px) {
  .header__logout-button-text {
    display: none;
  }
}